@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ddf0e9;
}

body {
  display:flex;
  justify-content: center;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
  margin: 0; 
  font-family: 'Sen', sans-serif;
}

#confetti {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* Larger screens */
@media screen and (min-width: 1200px) {
  body {
    font-size: 3em; /* Adjust as needed */
  }
}

/* Medium screens */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  body {
    font-size: 2.5em; /* Adjust as needed */
  }
}

/* Small screens */
@media screen and (max-width: 767px) {
  body {
    font-size: 2em; /* Adjust as needed */
  }
}